apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: reserve-namespace
spec:
  params:
    - name: BONFIRE_IMAGE
      type: string
      description: The container Bonfire image to use for the tekton tasks
      default: quay.io/redhat-services-prod/hcm-eng-prod-tenant/cicd-tools:602c886
    - name: NS_REQUESTER
      type: string
      description: The name of the person/pipeline that requested the namespace
    - name: EPHEMERAL_ENV_PROVIDER_SECRET
      type: string
      default: ephemeral-env-provider
      description: "Secret for connecting to ephemeral env provider cluster"
    - name: RESERVE_DURATION
      type: string
      description: "Duration to reserve the namespace for (e.g. 60m, 2h)"
      default: "1h"
  results:
    - name: NS
      description: ""
  steps:
    - name: reserve-namespace
      image: "$(params.BONFIRE_IMAGE)"
      env:
        - name: OC_LOGIN_TOKEN
          valueFrom:
            secretKeyRef:
              name: $(params.EPHEMERAL_ENV_PROVIDER_SECRET)
              key: token
        - name: OC_LOGIN_SERVER
          valueFrom:
            secretKeyRef:
              name: $(params.EPHEMERAL_ENV_PROVIDER_SECRET)
              key: url
        - name: BONFIRE_BOT
          value: "true"
        - name: RESERVE_DURATION
          value: "$(params.RESERVE_DURATION)"
      script: |
        #!/bin/bash
        set -ex

        echo "Connecting to the ephemeral namespace cluster"
        login.sh

        echo "Allocating ephemeral namespace"
        reserve-ns.sh $(results.NS.path) "$(params.NS_REQUESTER)"
